OPENROUTER_ENDPOINT=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=
GROQ_ENDPOINT=https://api.groq.com/openai/v1
GROQ_API_KEY=
AZURE_FOUNDRY_ENDPOINT=
AZURE_FOUNDRY_API_KEY=
OPENCOODE_API_KEY=
PUSHOVER_USER=
PUSHOVER_TOKEN=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
HF_TOKEN=